# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Flávio Martins

### Grupo 10 - BD2L12
<dl>
    <dt>6 horas (33.3%)</dt>
    <dd>ist1102492 Francisco Fonseca</dd>
    <dt>6 horas (33.3%)</dt>
    <dd>ist1102604 Gonçalo Rua</dd>
    <dt>6 horas (33.3%)</dt>
    <dd>ist1102611 João Gouveia</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address)
    - unique(email)
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
    - (IC-2) Any order_no in Order must exist in the contains relation
- Sale(<u>order_no</u>, payer_no)
    - order_no: FK(Order)
    - payer_no: FK(Customer.cust_no)
    - (IC-1) Customers can only pay for the Sale of an Order they have placed themselves ((order_no, payer_no) in (Order.order_no, Order.cust_no))
    - (IC-8) When an Order is removed from the database it must also be removed from Sale
- Product(<u>sku</u>, name, description, price)
    - (price > 0)
    - (IC-3) Any sku in Product must exist in the supply-contract relation
- EAN Product(<u>sku</u>, ean)
    - sku: FK(Product)
    - (IC-6) When a Product is removed from the database it must also be removed from EAN Product
- contains(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)
- Supplier(<u>TIN</u>, name, address)
    - (IC-4) Any TIN in Supplier must exist in the supply-contract relation
- supply-contract(<u>TIN</u>, sku, date)
    - TIN: FK(Supplier)
    - sku: FK(Product) NOT NULL
- Employee(<u>ssn</u>, TIN, bdate, name)
    - (IC-5) Any ssn in Employee must exist in the works relation
    - unique(TIN)
- process(<u>order_no</u>, <u>ssn</u>)
    - order_no: FK(Order)
    - ssn: FK(Employee)
- Department(<u>name</u>)
- Workplace(<u>address</u>, lat, long)
    - unique(lat, long)
- Office(<u>address</u>)
    - address: FK(Workplace)
    - (IC-7) When a Workplace is removed from the database it must also be removed from Office and/or Warehouse
- Warehouse(<u>address</u>)
    - address: FK(Workplace)
    - (IC-7) When a Workplace is removed from the database it must also be removed from Office and/or Warehouse
- works(<u>ssn</u>, <u>department</u>, <u>address</u>)
    - ssn: FK(Employee)
    - department: FK(Department.name)
    - address: FK(Workplace)
- delivery(<u>address</u>, <u>TIN</u>)
    - address: FK(Warehouse)
    - TIN: FK(supply-contract)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- (IC-1) Customers can only pay for the Sale of an Order they have placed themselves ((order_no, cust_no) in (Order.order_no, Order.cust_no))
- (IC-2) Any order_no in Order must exist in the contains relation
- (IC-3) Any sku in Product must exist in the supply-contract relation
- (IC-4) Any TIN in Supplier must exist in the supply-contract relation
- (IC-5) Any ssn in Employee must exist in the works relation
- (IC-6) When a Product is removed from the database it must also be removed from EAN Product
- (IC-7) When a Workplace is removed from the database it must also be removed from Office and/or Warehouse
- (IC-8) When an Order is removed from the database it must also be removed from Sale

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{Customer.name} \big( \sigma_{date \geq 01-01-2023 \wedge date \leq 31-12-2023 \wedge price>50} (Customer \bowtie (Order \bowtie (contains \bowtie Product))) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$ ssns \leftarrow \Pi_{ssn} \big ((Employee \bowtie (works \bowtie Warehouse)) \big ) - \Pi_{ssn} \big ((Employee \bowtie (works \bowtie Office)) \big) \\ \Pi_{name} \big ( \sigma_{date \geq 01-01-2023 \wedge date \leq 31-01-2023} (ssns \bowtie (Employee \bowtie (process \bowtie Order))) \big )$

3. Indique o nome do produto mais vendido;

$ counts \leftarrow \big( {}_{sku, name}G_{sum(qty) \rightarrow qty} (Product \bowtie (contains \bowtie Sale))\big) \\ \Pi_{name} \big (G_{max(qty) \rightarrow qty} (counts) \bowtie counts \big )$

4. Indique o valor total de cada venda realizada.

$ {}_{order\_no}G_{sum(price*qty) \rightarrow value} \big( \Pi_{order\_no, sku, price * qty} (Product \bowtie (contains \bowtie Sale)) \big) $

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [ ]:
%sql -f schema.sql

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%sql -f populate.sql

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

SELECT DISTINCT Customer.name FROM Customer
    NATURAL JOIN "Order"
    NATURAL JOIN contains
    INNER JOIN Product ON contains.sku = Product.sku
    WHERE
        EXTRACT(YEAR FROM "date") = 2023 AND
        price > 5000;

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT DISTINCT "name" FROM Employee
    NATURAL JOIN works
    NATURAL JOIN Warehouse
    NATURAL JOIN process
    NATURAL JOIN "Order"
    WHERE
        EXTRACT(YEAR FROM "date") = 2023 AND
        EXTRACT(MONTH FROM "date") = 1 AND
        ssn NOT IN 
            (SELECT ssn FROM Employee
                NATURAL JOIN works
                NATURAL JOIN Office);

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

SELECT "name" FROM Product
    NATURAL JOIN contains
    NATURAL JOIN Sale
    GROUP BY "name"
    HAVING SUM(qty) >= ALL (
        SELECT SUM(qty) FROM Product
            NATURAL JOIN contains
            NATURAL JOIN Sale
            GROUP BY "name"
        );

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

SELECT order_no, SUM(price*qty) AS "value" FROM Product
    NATURAL JOIN contains
    NATURAL JOIN Sale
    GROUP BY order_no
    ORDER BY order_no;