# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Flávio Martins

### Grupo 10 - BD2L12
<dl>
    <dt>8 horas (33.3%)</dt>
    <dd>ist1102492 Francisco Fonseca</dd>
    <dt>8 horas (33.3%)</dt>
    <dd>ist1102604 Gonçalo Rua</dd>
    <dt>8 horas (33.3%)</dt>
    <dd>ist1102611 João Gouveia</dd>
<dl>

In [ ]:
%load_ext sql
%sql postgresql://tester:tester@0.0.0.0/testerdb

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [ ]:
%%sql
DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
    cust_no INTEGER PRIMARY KEY,
    name VARCHAR(80) NOT NULL,
    email VARCHAR(254) UNIQUE NOT NULL,
    phone VARCHAR(15),
    address VARCHAR(255)
);

CREATE TABLE orders(
    order_no INTEGER PRIMARY KEY,
    cust_no INTEGER NOT NULL REFERENCES customer,
    date DATE NOT NULL
    --order_no must exist in contains
);

CREATE TABLE pay(
    order_no INTEGER PRIMARY KEY REFERENCES orders,
    cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
    ssn VARCHAR(20) PRIMARY KEY,
    TIN VARCHAR(20) UNIQUE NOT NULL,
    bdate DATE,
    name VARCHAR NOT NULL
    --age must be >=18
);

CREATE TABLE process(
    ssn VARCHAR(20) REFERENCES employee,
    order_no INTEGER REFERENCES orders,
    PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
    name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
    address VARCHAR PRIMARY KEY,
    lat NUMERIC(8, 6) NOT NULL,
    long NUMERIC(9, 6) NOT NULL,
    UNIQUE(lat, long)
    --address must be in warehouse or office but not both
);

CREATE TABLE office(
    address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
    address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
    ssn VARCHAR(20) REFERENCES employee,
    name VARCHAR(200) REFERENCES department,
    address VARCHAR(255) REFERENCES workplace,
    PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
    SKU VARCHAR(25) PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    description VARCHAR,
    price NUMERIC(10, 2) NOT NULL,
    ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
    order_no INTEGER REFERENCES orders,
    SKU VARCHAR(25) REFERENCES product,
    qty INTEGER,
    PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
    TIN VARCHAR(20) PRIMARY KEY,
    name VARCHAR(200),
    address VARCHAR(255),
    SKU VARCHAR(25) REFERENCES product,
    date DATE
);

CREATE TABLE delivery(
    address VARCHAR(255) REFERENCES warehouse,
    TIN VARCHAR(20) REFERENCES supplier,
    PRIMARY KEY (address, TIN)
);

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [ ]:
%sql -f populate.sql

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [ ]:
%%sql
ALTER TABLE employee
    ADD CHECK ((EXTRACT(YEAR FROM Now()) - EXTRACT(YEAR FROM bdate)) >= 18);

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION workplace_trigger() RETURNS TRIGGER AS
$$
BEGIN
    IF EXISTS(SELECT address FROM warehouse WHERE address = NEW.address)
        AND EXISTS(SELECT address FROM office WHERE address = NEW.address) THEN
            RAISE EXCEPTION 'Address must be in warehouse or office but not both';
    ELSE
        IF NOT EXISTS (SELECT address FROM office WHERE address = NEW.address) THEN
            RAISE EXCEPTION 'Address must be in warehouse or office';
        END IF;
    END IF;
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_workplace AFTER INSERT ON workplace
    DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION workplace_trigger();

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION order_trigger() RETURNS TRIGGER AS
$$
BEGIN
    IF NOT EXISTS(SELECT order_no FROM contains WHERE order_no = NEW.order_no) THEN
        RAISE EXCEPTION 'order_no must exist in contains';
    END IF;
    RETURN NEW;
END
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_order AFTER INSERT ON orders
    DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION order_trigger();

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [ ]:
%%sql
SELECT cust_no, customer.name, SUM(price*qty) AS total_paid FROM pay
    NATURAL JOIN contains
    NATURAL JOIN product
    JOIN customer USING(cust_no)
    GROUP BY cust_no, customer.name
    HAVING SUM(price*qty) >= ALL (
        SELECT SUM(price*qty) FROM pay
            NATURAL JOIN contains
            NATURAL JOIN product
            JOIN customer USING(cust_no)
            GROUP BY cust_no, customer.name);

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [ ]:
%%sql
SELECT name FROM employee e
WHERE NOT EXISTS (
    SELECT DISTINCT date FROM orders
        WHERE EXTRACT(YEAR FROM date) = 2022
    EXCEPT
    SELECT DISTINCT date FROM orders
        NATURAL JOIN process
        WHERE ssn = e.ssn AND
            EXTRACT(YEAR FROM date) = 2022
    );

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [ ]:
%%sql
-- tabela auxiliar months
DROP TABLE IF EXISTS months;
CREATE TABLE months(
    month INT PRIMARY KEY
);
INSERT INTO months
    SELECT num FROM GENERATE_SERIES(1, 12, 1) num;

WITH temp AS
(SELECT EXTRACT(MONTH FROM date) AS month, COUNT(order_no) as count FROM orders o
    WHERE EXISTS (
        SELECT order_no FROM orders
            WHERE order_no = o.order_no AND
                EXTRACT(YEAR FROM date) = 2022
        EXCEPT
        SELECT order_no FROM pay
            WHERE order_no = o.order_no AND
                EXTRACT(YEAR FROM date) = 2022
    )
    GROUP BY month)
SELECT m.month, COALESCE(count, 0) as amount FROM temp t
    RIGHT JOIN months m ON t.month = m.month
    ORDER BY month;

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql
DROP VIEW IF EXISTS product_sales;

CREATE VIEW product_sales AS
SELECT sku, order_no, qty, SUM(qty*price) AS total_price, 
    EXTRACT(YEAR FROM date) AS year, 
    EXTRACT(MONTH FROM date) AS month, 
    EXTRACT(DAY FROM date) AS DoM, 
    EXTRACT(DOW FROM date) AS DoW,
    SUBSTRING(address, regexp_instr(address, '[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]') + 9, LENGTH(address) - regexp_instr(address, '[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]') - 8) AS city 
FROM orders
    NATURAL JOIN contains
    NATURAL JOIN product
    JOIN customer USING(cust_no)
    GROUP BY sku, order_no, qty, address
    ORDER BY sku;

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

A nossa webapp apresenta uma arquitetura de duas camadas, uma vez que a nossa aplicação Flask não só é responsável por enviar o HTML para o cliente, atuando assim como Web Server, como também é responsável por permitir a interação do utilizador com a base de dados, desempenhando portanto o papel do Application Server.
Finalmente, temos um Database Server com o nosso sistema de base de dados PostgreSQL.

app.cgi e wsgi.cgi &rarr; Setup do flask

app.py &rarr; O backend da aplicação, que lida com os pedidos do utilizador.

templates/ &rarr; A pasta onde estão os ficheiros html utilizados pelo flask.

static/ &rarr; A pasta onde estão os ficheiros css e js utilizados pelo flask.

templates/base.html &rarr; O template base herdado por todas as páginas html.

templates/index.html &rarr; A página inicial da aplicação, onde o utilizador pode escolher o que quer fazer.

templates/gerir-encomendas.html &rarr; A página onde o utilizador pode ver as encomendas e vendas existentes e pagar encomendas.

templates/gerir-produtos.html &rarr; A página onde o utilizador pode ver os produtos existentes e remover, escolher editar ou adicionar novos produtos.

templates/gerir-clientes.html &rarr; A página onde o utilizador pode ver os clientes existentes e remover ou adicionar novos clientes.

templates/gerir-fornecedores.html &rarr; A página onde o utilizador pode ver os fornecedores existentes e remover ou adicionar novos fornecedores.

templates/realizar-encomenda.html &rarr; A página onde o utilizador pode realizar uma encomenda.

templates/editar-produto.html &rarr; A página onde o utilizador pode editar um produto existente.

static/style.css &rarr; O ficheiro css utilizado na webapp.

static/page.js &rarr; Ficheiro com funções utilizadas para mostrar grandes quantidades de dados de forma mais prática.

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql
SELECT sku, city, month, dom, dow, SUM(qty) AS qty, SUM(total_price) AS price
    FROM product_sales WHERE year = 2022
    GROUP BY GROUPING SETS ((sku), (sku, city), (sku, month, dom, dow))
    ORDER BY sku, city, month, dom, dow;

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql
-- tabela auxiliar dateD
DROP TABLE IF EXISTS dateD;
CREATE TABLE dateD(
    year INT,
    month INT,
    weekday INT,
    day INT,
    PRIMARY KEY (year, month, weekday, day)
);
INSERT INTO dateD (year, month, weekday, day)
    SELECT EXTRACT(YEAR FROM dd), EXTRACT(MONTH FROM dd), EXTRACT(DOW FROM dd), EXTRACT(DAY FROM dd)
    FROM GENERATE_SERIES(
        '2022-01-01'::DATE,
        '2023-01-01'::DATE,
        '1 day'::INTERVAL) dd;
WITH temp AS
    (SELECT d.year, d.month, d.day, d.weekday, COALESCE(SUM(total_price), 0) AS total_price FROM product_sales p
        RIGHT JOIN dateD d ON ((p.year, p.month, p.dom, p.dow) = (d.year, d.month, d.day, d.weekday))
        WHERE d.year = 2022
        GROUP BY d.year, d.month, d.day, d.weekday)
SELECT month, weekday, ROUND(AVG(total_price), 2) AS avg_sales
FROM temp
    GROUP BY GROUPING SETS((), (month, weekday))
    ORDER BY month, weekday;

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no<br>
FROM orders<br>
JOIN contains USING (order_no)<br>
JOIN product USING (SKU)<br>
WHERE price > 50 AND<br>
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

Índice do tipo **B-Tree** sobre o atributo **price** da tabela **product**, com vista a otimizar os filtros impostos. Note-se que na prática existem muito mais valores possíveis para o atributo **price** do que para o ano do atributo **date** (que é a única parte da data que nos interessa nesta query), o que justifica a criação de um índice sobre o primeiro atributo em detrimento de um sobre o segundo.

Uma vez que os atributos **order_no** e **SKU**, das tabelas **orders** e **product**, se tratam de chaves primárias das tabelas respetivas, não é necessária a criação de mais índices para a otimizar a operação de junção.

### 6.2
SELECT order_no, SUM(qty*price)<br>
FROM contains<br>
JOIN product USING (SKU)<br>
WHERE name LIKE ‘A%’<br>
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

Uma vez que o atributo **SKU** da tabela **product** se trata de uma chave primária, não é necessária a criação de mais índices para a otimizar a operação de junção.

Índice hash sobre o atributo **name** para otimizar o filtro **name LIKE "A%"**, por ser o índice ideal para seleção por igualdade.